<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                    <label for="" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" [(ngModel)]="name">
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                    <label for="" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNo" [(ngModel)]="phoneNo" >
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                    <label for="" class="form-label">Gender</label>
                    <select name="gender" id="" class="form-control" [(ngModel)]="gender" >
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Email Address</label>
                    <input type="email" name="emailAddress" id="" class="form-control" [(ngModel)]="emailAddress">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Address</label>
                    <textarea name=" address" id="" cols="30" rows="10" class="form-control" [(ngModel)]=" address" ></textarea>
                    
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                    <label for="" class="form-label">Pincode</label>
                    <input type="text" class="form-control" name="pinCode" [(ngModel)]="pinCode" >
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                    <label for="" class="form-label">Blood Group</label>
                    <select name=" bloodGroup" id="" class="form-control" [(ngModel)]="bloodGroup" >
                        <option value="A+">A+</option>
                        <option value="B+">B+</option>
                        <option value="O+">O+</option>
                        <option value="A1+">A1+</option>
                        <option value="A-">A-</option>
                        <option value="B-">B-</option>
                        <option value="O-">O-</option>
                        <option value="AB+">AB+</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                    <label for="" class="form-label">DOB</label>
                    <input type="date" name="dob" id="" class="form-control" [(ngModel)]="dob" >
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                    <label for="" class="form-label">Age</label>
                    <input type="text" class="form-control" name="age" [(ngModel)]="age">
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                    <label for="" class="form-label">Parent Name</label>
                    <input type="text" class="form-control" name="parentName" [(ngModel)]="parentName" >
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                    <label for="" class="form-label">Password</label>
                    <input type="password" name="password " id="" class="form-control" [(ngModel)]="password">
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                    <label for="" class="form-label">Confirm Password</label>
                    <input type="password" name="confirmPassword" id="" class="form-control"[(ngModel)]="confirmPassword">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success"[disabled]="status"  (click)="readValues()" >Register</button>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <a routerLink="/">Go To Login Page</a>
                </div>
            </div>
        </div>
    </div>
</div>

